body {
	background-color: #000;
	color: #163;
	font-family: Roboto;
	font-size: 25px;
	max-width: 500px;
	margin: 0 auto;
}

h1 {
	color: #ddd;
	text-align: center;
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 0;
}

#titleDate {
	color: #163;

}

.positives {
	display: flex;
	flex-direction: row;
	align-items: end;
}

label {
	width: 50px;
	text-align: center;
	color: #ddd;
	font-size: 1.2em;
}

input[type="text"] {
	background-color: #000;
	border: none;
	border-bottom: 3px solid #555;
	color: #ddd;
	font-size: 1em;
	padding: 10px;
	margin: 7px 15px;
	flex-grow: 1;
	border-radius: 5px;
	min-width: 10px;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 3px solid #163;
}

button {
	background-color: #163;
	border: 0px solid #575;
	padding: 15px 20px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 3px;
	font-weight: bold;
	color:  #ddd;
}

button:last-child {
	margin-right: 0px;
}

button:disabled {
	color: #333;
}

#buttons {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

#leavesWrapper {
	width: 100%;
	text-align: center;
}

#leavesLeft {
	transform: scaleX(-1);
}
